<div class="row ">
    <div class="col-8 mx-auto">
        <h1></h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>description</th>
                    <th>update</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let post of posts |async">
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>{{post.description}}</td>
                    <td>
                        <a [routerLink]="['/nav/posts/edit',post.id]">update</a>
                    </td>
                    <td>
                        <button class="btn btn-danger" (click)="deletePost(post.id)">delete</button>
                    </td>
                </tr>
        </table>
    </div>
    <div class="col-4">
        <router-outlet></router-outlet>
    </div>
</div>